.header-color{
  background: url('./images/astronomy-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.home-color{
  background: url('./images/astronomy-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}
html {
  font-family: 'Roboto', sans-serif;
}


.avatar-img{
  height: 250px;
  padding-top: 5em;
  padding-left:33%;
}

.name-banner{
  border-radius: 12px;
  text-align:center;
  background: RGB(0,0,0,0.8);
  /*opacity: .5;*/
  color:blanchedalmond;
}

.main-bio{

}

.skill-list{
  font-size:1.25em;
}

.random-quote{
  text-align:center;
  color:blanchedalmond;
  font-size:1.5em;
  text-align:center;
}

.profile-picture{
  height:300px;
}

.resume-right{
  color:blanchedalmond;
  background: #27221F;

}

.left-resume p{
  font-size:1.2em;

}

.work-experience{
  padding-left: 10px;
  padding-right: 10px;
}
/*.resume-right h2{*/
/*  padding-left: 10px;*/
/*}*/